%h1 Listing trials

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @trials.each do |trial|
    %tr
      %td= trial.title
      %td= link_to 'Show', trial
      %td= link_to 'Edit', edit_trial_path(trial)
      %td= link_to 'Destroy', trial, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Trial', new_trial_path
