= form_for @invitation, :url => { :action => "create_existing" }, :html => { :method => "post" } do |f|
  -if @invitation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invitation.errors.count, "error")} prohibited this trial from being saved:"
      %ul
        - @invitation.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :user_id, :value => @user.id
  .field
    = f.label :trial_ids, "Add to"
    - @user ? exclude = @user.trials.pluck(:id) : exclude = 0
    - Trial.where("id NOT IN (?)", exclude).all.each do |trial|
      %p
        = check_box_tag "invitation[trial_ids][]", trial.id, false
        = trial.title
  .actions
    = f.submit 'Send'
