.validation_messages
= form_for @invitation do |f|
  -if @invitation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invitation.errors.count, "error")} prohibited this trial from being saved:"
      %ul
        - @invitation.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :invited_email, "User email (comma separated)"
    = f.text_area :invited_email, :rows => 5
  .field
    = f.label :trial_ids, "Resources to see"
    - Trial.all.each do |trial|
      %p
        = radio_button_tag "invitation[trial_ids][]", trial.id, false
        = trial.title
  .actions
    = f.submit 'Send'
