-if User.any?
  %ul
  - User.all.each do |user|
    %li
      = link_to user.email, edit_permissions_invitations_path(:user_id => user.id)
- else
  %p No existing users, invite the first one on the left

-if Invitation.not_yet_registered.any?
  %p Invited emails
  %ul
  - Invitation.not_yet_registered.all.each do |i|
    %li
      = "#{i.invited_email} (#{i.invited_key})"
