%ul.nav.nav-tabs.pull-right
  %li
  - if admin_signed_in?
    %li
      = link_to 'Logout Admin', destroy_admin_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login Admin', new_admin_session_path
  - if admin_signed_in?
    %li
      = link_to 'Send invitation', new_invitation_path

%ul.nav.nav-tabs
  %li
    = link_to "Home", root_path, :class => 'brand'
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
